<launch>
  <node name="data_collection_server" pkg="jsk_data" type="data_collection_server.py">
    <rosparam>
    save_dir: /removable/jsk_pr2_wandering/
    topics:
    - name: /kinect_head/rgb/image_rect_color
      msg_class: sensor_msgs/Image
      fname: image.png
      savetype: ColorImage
    - name: /kinect_head/depth/image_raw
      msg_class: sensor_msgs/Image
      fname: depth.pkl
      savetype: DepthImage
    - name: /kinect_head/rgb/mask_fridge
      msg_class: sensor_msgs/Image
      fname: mask_fridge.png
  </rosparam>
  </node>
</launch>
